@model IEnumerable<u20691302_HW05.Models.borrowsVM>

@{
    ViewBag.Title = "Borrows";
}

@{
    int numBorrows = 0;
    foreach (var item in Model)
    {
        numBorrows += 1;
    }
}
@if (ViewBag.Message1 == "Book out")
{
    <h3>@ViewBag.Message - <span class="text-danger">Book Out</span></h3>
}
else
{
    <h3>@ViewBag.Message - <span class="text-success">Book Available</span></h3>
}

<hr />
<p>
    <h4 style="float: left;"># Borrows - @numBorrows</h4>
    @Html.ActionLink("View students", "Students", "Home", new { bookStatus = ViewBag.Message1, bookId = ViewBag.Message2 }, new { @class = "btn btn-primary", @style = "float: right;" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(borrowsVM => borrowsVM.borrow.borrowId)
        </th>
        <th>
            @Html.DisplayNameFor(borrowsVM => borrowsVM.borrow.takenDate)
        </th>
        <th>
            @Html.DisplayNameFor(borrowsVM => borrowsVM.borrow.broughtDate)
        </th>
        <th>
            @Html.DisplayName("Borrowed By")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.borrow.borrowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.borrow.takenDate)
            </td>
            <td>
                @if (item.borrow.broughtDate.Equals(default(DateTime)))
                {
                    <span class="text-danger">Book Out</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.borrow.broughtDate)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.name) @Html.DisplayFor(modelItem => item.student.surname)
            </td>
        </tr>
    }
</table>
