@model IEnumerable<u20691302_HW05.Models.StudentsVM>

@{
    ViewBag.Title = "Students";
}

<h3>Students</h3>
<hr />
@using (Html.BeginForm("SearchStudents", "Home"))
{
    <table class="table">
        <tr>
            <td>
                <input type="text" class="form-control" name="studentName" placeholder="Search Student Name" value="">
            </td>
            <td>
                <select class="form-control" name="Class">
                    <option value="" ;>Select a Class</option>
                    @foreach (var item in Model.Select(s => new { s.student.Class }).Distinct().OrderBy(s => s.Class).OrderBy(s => Convert.ToInt32(s.Class.Substring(0,s.Class.Length-1))))
                    {
                        <option value="@Html.DisplayFor(s => item.Class)">@Html.DisplayFor(s => item.Class)</option>
                    }
                </select>
            </td>
            <td><input type="submit" value="Search" class="btn btn-success" /></td>
            <td>@Html.ActionLink("Clear", "Students", "Home", new { @class = "btn btn-danger" })</td>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student.studentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.point)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student.studentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.point)
            </td>
            <td>
                @{
                    if (item.borrow.Select(bd => bd.borrow.broughtDate).Contains(default(DateTime)))
                    {
                        int borrowSId = item.borrow.Select(si => si.borrow.studentId).Distinct().FirstOrDefault();
                        if (borrowSId == item.student.studentId)
                        {
                            @Html.ActionLink("Return Book", "ReturnBook", "Home", new { brDate = item.borrow.Select(br => br.borrow.takenDate).FirstOrDefault(), student = item.student.studentId, bookId = item.borrow.Select(br => br.borrow.bookId).FirstOrDefault() }, new { @class = "btn btn-danger" })
                        }
                        else
                        {

                        }
                    }
                    else
                    {
                        @Html.ActionLink("Borrow Book", "BorrowBook", "Home", new { student = item.student.studentId, bookId = item.borrow.Select(br => br.borrow.bookId).FirstOrDefault() }, new { @class = "btn btn-primary" })
                    }
                }
            </td>
        </tr>
    }

</table>
